:root {
    --primary-color: #e26e70;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 62,5%;
    height: 100vh;
    background-image: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
    font-family: sans-serif;
}
.Modal__button-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.Modal__button-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.Modal__overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 , 0, 0 , 0.6);
}
.Modal__container {
    margin: 200px auto;
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: fadein linear 0.25s;
}
.Modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--primary-color);
    color: #fff;
}
.Modal__header i:hover {
    cursor: pointer;
    opacity: 0.8;
}
.Modal__body {
    padding: 15px;
}
.Modal__body-title {
    color: var(--primary-color);
}
.Modal__body-content {
    margin-top: 10px;
}
.Modal__footer {
    text-align: right;
    padding: 15px;
}
.Modal__footer-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #fff;
}
.Modal__footer-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.open {
    display: block;
}

@keyframes fadein {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}